body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000000;
  margin: 0;
}

.card p{
    font-size: 24px;
    font-weight: 700;
    color: #ff0000;
    margin-bottom: 1.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center; /* centraliza conteúdo horizontalmente */
  justify-content: center;
  width: 300px;
  height: 300px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.love-image {
  max-width: 800px;
  height: 650px;
  border-radius: 12px;
  margin-bottom: 20px;
}


.love-text {
  font-size: 48px;
  font-weight: bold;
  color: #FF6EB4;
  text-shadow: 1px 1px #000;
}

.btn-yes {
    background-color: #9AFF9A;
}

.btn-no {
    background-color: #FF4040;
    color: #fff;
}

.answer {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    text-align: center;
}

.answer > p {
    font-size: 48px;
    font-family: sans-serif;
    font-weight: bold;
    color: #FF6EB4;
    text-shadow: 1px 1px #000;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.btn-yes, .btn-no {
    height: 48px;
    width: 100px;

    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}